# Unity3D .gitignore file.

# Folders
flyingrocks/.DS_Store
flyingrocks/Library/
flyingrocks/Library/AssetImportState
flyingrocks/Library/AssetServerCacheV3
flyingrocks/Library/FailedAssetImports.txt
flyingrocks/Library/ScriptAssemblies
flyingrocks/Library/ScriptMapper
flyingrocks/Library/assetDatabase3
flyingrocks/Library/cache
flyingrocks/Library/expandedItems
flyingrocks/Library/metadata
flyingrocks/Library/previews
flyingrocks/Library/guidmapper
flyingrocks/Temp
flyingrocks/build

# Filetypes
*.userprefs
*.csproj
*.pidb
*.sln

# mstest test results
TestResults
